{% extends '_layouts/app' %}

{% block appMain %}
    <div class="flex justify-center items-center absolute top-0 left-0 right-0 bottom-0 text-blue-400">
        <p>Let's go :)</p>
    </div>
{% endblock %}